body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    color: darkred;
    text-decoration: none;
    font-weight: bold;
}
